* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#fa8541, #fc3873);
    height: 100vh;
}

h1 {
    color: #ffffff;
    text-align: center;
}

main {
    background-color: #e8f1f3;
    border-radius: 5px;
    margin: 2rem auto;
    max-width: 450px;
    padding: 3rem;
    position: relative;
}

.date,
.day {
    color: #fc3873;
}

.todo__inputRow {
    display: flex;
    flex-direction: row;
}

input {
    border-radius: 5px;
    height: 2.5rem;
    flex-grow: 5;
    margin-right: 1rem;
}

::placeholder {
    color: #808080;
    font-size: 1rem;
    font-style: italic;
}

input[id^="todo"] {
    width: 25px;
}

.todoDiv, .todoDoneDiv {
    background-color: greenyellow;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 48px;    
    margin: 1rem 0;
    position: relative;
}

.todoDoneDiv {
    background-color: rgb(218, 253, 166);    
    text-decoration: line-through;
}

.plus {
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    color: white;
    flex-grow: 1;
    font-size: 2rem;
    height: 2.5rem;
}

.plus:hover {
    background-color: rgb(87, 43, 247);
}

.hide {    
    display: none;    
}

.appearRed {
    background-color: red;
    border-radius: 0 5px 5px 0;
    display: block;
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
}

footer {    
    text-align: center;
}

footer button {
    background-color:#e8f1f3;
    border: 0;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    text-decoration: none;
}
